@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Create";
}

@model BorrowLend.Models.ViewModels.ItemVM
<h1>Create</h1>
<form method="post" asp-action="Create">
    <table>
        <thead>
            <tr>
                <th width="25%">Item Name</th>
                <th width="25%">Borrower</th>
                <th width="25%">Email</th>
                <th width="25%">Lender</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th width="25%"><input asp-for="Item.ItemName" /></th>
                <th width="25%"><input asp-for="Item.Borrower" /></th>
                <th width="25%"><input asp-for="Item.Email" /></th>
                <th width="25%"><input asp-for="Item.Lender" /></th>
            </tr>
        </tbody>
    </table>
    <button type="submit" class="col-3 btn btn-success m-1">Save</button>
    <button asp-action="Index" class="col-3 btn btn-danger m-1">Back</button>
    <div asp-validation-summary="All" class="text-danger"></div>
</form>
