@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Create";
}

@model BorrowLend.Models.ExpenseType
<h1>Create</h1>
<form method="post" asp-action="Create">
    <table>
        <thead>
            <tr>
                <th width="100%">Expense Type Name</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th width="100%"><input asp-for="ExpenseTypeName" /></th>
            </tr>
        </tbody>
    </table>
    <button type="submit" class="col-3 btn btn-success m-1">Save</button>
    <button asp-action="Index" class="col-3 btn btn-danger m-1">Back</button>
    <div asp-validation-summary="All" class="text-danger"></div>
</form>
